*{
    margin: 0px;
    padding: 0px;
    
}
body{
    margin: 0px;
    padding: 0px;
}
section{
    margin: 0px;
    padding:30px 0;
}

.container{
    margin: 0px;
    padding: 0px;
    margin: auto;
    width: 100%;
}
h1,h2,h3, h4,h5, h6{
    text-align: center;
    margin: 0px;
    padding: 0Px;
}
.section-header{
    margin: 0;
    padding: 0;
}
.section-header h2 {    
    margin-bottom: 50px;
    }
    .content h3{
        
    }


.text_body p{
   font-size: 20px;
   text-align: justify;
   color: #6f6f6f;
}
.content p{
    color: #6f6f6f;
}
.card{
    width: 100%;
}
.hero {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}


.hero .btn-get-started{
    padding: 8px 12px 8px 12px;
    margin: 10px;
    border-radius: 15px;
}
.btn_div{
    margin: auto;
    margin-top: 7px;
    margin-bottom: 7px;
}



.contact .info-item {    
    margin-bottom: 20px!important;
}


.text_body{
    padding-top: 10%;
}
.abuut_img_2{
    width: 100%;
    max-height: 600px;
}

    @media only screen and (max-width: 575px) {
        .hero h2{
            font-size: 25px;
            margin-top: -20px;
        }
        .wellcome{
            font-size: 20px;
        
        }     


    }
    

 .animated-glow-wrapper {
  position: relative;
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
  z-index: 1;
}

.animated-glow-wrapper::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: conic-gradient(
    from 0deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00aa,
    #ff0000
  );
  animation: spin-glow 6s linear infinite;
  border-radius: 50%;
  z-index: 0;
  filter: blur(40px);
}

.animated-glow-wrapper::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background:#0004d3;
  border-radius: 15px;
  z-index: 1;
}

.login-box {
  position: relative;
  z-index: 2; /* Login box উপরে থাকবে */
  background: transparent; /* transparent রাখলে ::after background দেখা যাবে */
}

@keyframes spin-glow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.login-form{
    color: white;
}


.hero {
    padding-top: 4%;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.animated-glow-wrapper::after{
    background-image: url(../img/bg1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} 
.order-2{
    color: rgb(248, 248, 248);
}
.section-header h2{
    margin-bottom: 0px;
    margin-top: 10px;
}

.btn-get-started {
  display: inline-block;
  padding: 10px 25px;
  color: #fff;
  background: #007bff;
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-weight: 500;
  text-decoration: none;
}

.btn-get-started:hover {
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.6);
  background: #00b33c;
  transform: scale(1.05);
}
